# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ "master" ]
    paths-ignore:
      - 'docs/**'
      - 'devlogs/**'
      - '**.md'
  pull_request:
    branches: [ "master" ]
    paths-ignore:
      - 'docs/**'
      - 'devlogs/**'
      - '**.md'
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: compile with Maven
      run: mvn -B compile test-compile --file pom.xml
    - name: Unit tests with Maven
      run: mvn -B package --file pom.xml -Dtick=10
    - name: Integration tests with Maven
      run: mvn -B verify --file pom.xml -DskipUTs
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v4
      with:
        token: ${{ secrets.CODECOV_TOKEN }}